h1 {
    margin: 20px auto;
}

div img {
    width: 300px;
    border-radius: 0.6em;
    animation: fade 4s;

    border-bottom: 9px solid var(--accent);
    border-left: 9px solid var(--accent);
}

div img:hover {
    transform: scale(1.1);
    transition: 0.2s ease;

}


div {
    align-items: center;
    justify-content: center;
}

.card {
    display: block;
}

.card p {
    padding: 1em;
    margin: 0.5em auto;
}

#business-contact {
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-radius: 0.6em;
    width: 50%;
    align-self: center;
    justify-self: center;
    margin-bottom: 5em;
}

#business-contact h3 {
    color: black;
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}

#business-contact p {
    margin: 25px auto;
}

h2 {
    background-image: linear-gradient(to bottom, var(--secondary-color) 50%, var(--accent) 50%);
    background-size: 200% 200%;
    transition: 0.4s ease-out;
}

h2:hover {
    background-position: bottom;
    color: #000;
    border-bottom-color: var(--secondary-color);
}


/*animations*/
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*Large Screen View*/
@media screen and (min-width: 890px) {
    .card {
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
    }

    .card h2 {
        grid-column: 1/5;
    }

    #owner figure {
        grid-column: 4/5;
        order: 2
    }

    #owner p {
        grid-column: 1/3;
    }

}