.form {
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
}

#label-sub{

   margin: 1em 0 0.3em 0;
   padding: 0;
   text-align: center;
}

.delete {
    width: fit-content;
    
}

main ul {
    margin: 2rem;
    list-style: none;
}

main li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
}

main li button{
    max-width: 50px;
    margin: auto 1em auto 1em;
    padding: 0.5rem;
}

main li {
    margin: 0.7em 0;
    padding: 0.7em 0;
    border-bottom: 1px solid var(--secondary-color);
    border-top: 1px solid var(--secondary-color);
}

