@media screen and (min-width: 500px) {
    nav ul {
        display: flex;
    }

    nav ul li{
        flex: 1 1 100%;
    }
    
    header {
        background-color: black;
        color: white;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}